/* nav */
.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.navButton {
  border-radius: 10px;
  display: flex;
  flex-basis: 25%;
  font: bold 1em 'Source Sans Pro', sans-serif;
  justify-content: center;
  margin: 5px 5px 0 5px;
  min-height: 50px;
  padding: 10px;
  text-align: center;
}

.navlink {
  align-self: center;
  color: #fff;
  text-decoration: none;
}
.unansNav,
.unans {
  background-color: #e9b000;
}

.ansNav,
.ans {
  background-color: #008f95;
}

.leadNav,
.lead {
  background-color: #1a4863;
}

.addNav,
.add {
  background-color: #e24e42;
}
.navButton:hover {
  font-weight: normal;
}

.current {
  font-style: italic;
}

.qblock {
  border-radius: 10px;
  display: flex;
  margin: 5px;
  min-height: 500px;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.main-container {
  margin-top: 3px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 35px;
  border-radius: 25px;
  margin: 10px;
}

.navbar-nav li a {
  line-height: 40px;
}

.nav-item {
  cursor: pointer;
}

td {
  line-height: 60px;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[class*=col-] {
  padding: 15px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
